@use '../customs' as *;
@use 'base/mixins' as m;

.proyectos{

    &__heading{
        @include m.heading;
    }
    &__img{
        height: 25rem;
        object-fit: cover;
    }
    &__btn{
        @include m.btnOutline;
    }
    &__parrafo{
        font-size: 1.5rem;
    }
}