//Colores
$negro: #2b2c2c;
$oscuro: #252525;
$blanco: #fff;
$amarillo: #feb633;
$gris: #727b86;

$dark: $negro;
$white: $blanco;
$primary: $amarillo;
$secondary: $gris;

//Body
$body-bg: $dark;
$font-family-base: 'Poppins', sans-serif;
$font-size-root: 62.5%;
$font-size-base: 1.6rem;
$line-height-base: 1.6;


$h1-font-size: 4.8rem;           
$h2-font-size: 3.8rem;                 
$h3-font-size: 3rem;

//Link
$link-decoration: none;
$link-color: $white;

//Card
$card-border-radius: 0;

// Navbar
$navbar-padding-y: 0;
$navbar-toggler-focus-width: 0;
$navbar-light-icon-color: $white;
$navbar-light-toggler-border-color: $white;

// btn
$btn-hover-color: $white;
$btn-padding-y: 1rem;             
$btn-padding-x: 1rem;
$btn-font-size: 1.8rem;

// css grid
$enable-cssgrid:true;

html{
    scroll-behavior: smooth;
}
p{
    color: $secondary;
    font-weight: 300;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
// card
$card-border-color: #484545a1;

// Form
$input-bg: #363737;
$form-label-color: #777777;
$input-placeholder-color: #777777;
$input-color: #777777;
$focus-ring-color: #777777;
$input-font-size: 1.4rem;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';